/* Fonts */
/* --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif; */
/* --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace; */

.container {
  width: 98%;
  max-width: 1080px;
  margin: 55px auto;
}

.app-instruction {
  margin: 45px 10px;
  font-size: 24px;
  text-align: center;
  color: #3a3939;
  text-transform: capitalize;
}

.app-instruction.dark {
  color: #fff;
}
